* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'League Gothic', sans-serif;
  text-decoration: none;
  list-style: none;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: #0A1931;
}

header nav .logo {
  font-size: 1.5rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: ivory;
}

header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: ivory;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 35%;
}

header nav .nav-links a {
  color: #686868;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1rem;
}

header nav .nav-links a:hover {
  color: black;
}

header nav .burger {
  display: none;
  cursor: pointer;
}

header nav .burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .navbar .nav-links {
    background-color: rgba(230, 247, 252, 0.5);
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .navbar .nav-links li {
    opacity: 0;
  }
  .navbar .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    z-index: 100;
  }
  .navbar .burger {
    display: block;
  }
}

.intro {
  text-shadow: black 0.1em 0.1em 0.1em;
  position: absolute;
  top: 50%;
  right: 50%;
  letter-spacing: 3px;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

.hero {
  width: 100%;
  height: 200px;
  background-color: #0A1931;
}

.emphasis {
  color: #000000;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 700;
}

#about {
  background-color: #0A1931;
}

#about h1 {
  color: ivory;
  margin-bottom: 24px;
  margin-left: 32px;
}

.row {
  margin: 0 50px;
  background-color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row table {
  color: #0A1931;
  border-collapse: collapse;
}

.row table tr td {
  border: none;
  padding: 1rem 1rem;
}

.row table tr td:hover {
  text-decoration: underline;
}

.row table tr .ex {
  position: relative;
}

.row table tr .ex span {
  position: absolute;
  right: 24px;
}

.row .right {
  background-color: #0A1931;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 540px) {
  .row .right {
    position: relative;
    right: auto;
    top: auto;
  }
}

.row .right .selfphoto {
  position: absolute;
  width: 20vw;
  border-radius: 50%;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -o-object-fit: cover;
     object-fit: cover;
}

.row .right .tag {
  position: absolute;
  top: 75%;
  font-size: 1.2rem;
  font-weight: 700;
  color: wheat;
}

#project h2 {
  color: ivory;
  padding-bottom: 24px;
  padding-left: 40px;
  background-color: #0A1931;
}

#project .projectrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 24px;
  background-color: #0A1931;
  color: ivory;
}

#project .projectrow .project-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px;
}

#project .projectrow .project-item img {
  width: 25vw;
  height: 100%;
}

@media screen and (max-width: 768px) {
  #project .projectrow .project-item img {
    width: 40vw;
  }
}

@media screen and (max-width: 540px) {
  #project .projectrow .project-item img {
    width: 60vw;
  }
}

#project .projectrow .project-item .preview {
  padding: 0 3rem;
}

#project .projectrow .project-item .preview .title {
  font-size: 1.2rem;
  font-weight: 600;
}

#project .projectrow .project-item .preview .subtitle {
  font-size: 0.9rem;
}

#project .projectrow .project-item .preview div {
  margin-bottom: 6px;
}

#project .projectrow .project-item .preview .see-btn {
  color: black;
  padding: 4px 24px;
  background-color: white;
}

#project .projectrow .project-item .preview .see-btn:hover {
  background-color: aliceblue;
}

@media screen and (max-width: 540px) {
  #project .projectrow .project-item .preview {
    text-align: center;
  }
}

#contact {
  background-image: url(../pic/001.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0A1931;
  color: ivory;
}

#contact h2 {
  font-size: 2rem;
  font-weight: 700;
}

#contact i {
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 6px;
  margin-right: 10px;
}

#contact i:hover {
  color: #b9b8b8;
}

.copyright {
  padding: 10px;
  background-color: ivory;
  text-align: center;
  vertical-align: middle;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

@media screen {
  .col-lg-4 {
    width: 33.3333%;
  }
  .col-lg-8 {
    width: 66.6666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .col-md-4 {
    width: 33.3333%;
  }
  .col-md-8 {
    width: 66.6666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */